body {
	background:#536474;
	background-image:url('img/fundo.gif')!important;
	background-position:bottom;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.my-content {
	min-height:300px;
	background:white;
	float: none;
    margin: 0 auto;
    border-bottom:5px solid #47c5ba;
}

.content-top {
	background:#002e60;
	min-height:60px;
}

.content-top img {
	display:block;
	margin:auto;
	padding-top:8px;
	padding-bottom:8px;
}

.content-top-first {
	background-image:url('img/fundo_top.gif')!important;
}

.content-footer {
	background:#4a437d;
	min-height:60px;
	border:0;
	color:white;
	margin-bottom:20px;
}

.content-top h1, h2, h3 {
	margin:0;
	color:white;
	text-align:center;
	display:block;
	padding-top:15px;
	padding-bottom:10px;
}

.content-information-service {
	margin-top:0;
	margin-bottom:0;
	background:white;
	border-bottom:1px solid #e4e4e4;
}

.b-informativo {
	padding:5px;
	display:block;
	border-radius:5px;
	color:#666666;
}

.content-table {
	background:white;
}

.number {
	color:#006600;
	font-size:100px;
	margin-top:0;
}